{% extends "base.html" %}

{% block content %}
<h1 align="center"><b>Админка.</b> Вся наша мебель</h1>
{% if mebels %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Дата</th>
                <th scope="col">Ссылка</th>
                <th scope="col">Цена</th>
                <th scope="col">Описание</th>
                <th scope="col">Редактирование</th>
                <th scope="col">Удаление</th>
            </tr>
            </thead>
            <tbody>
            {% for mebel in page_obj %}
            <tr>
                <td><b>{{mebel.pk}}</b></td>
                <td>{{mebel.parse_date_time}}</td>
                <td><a href={{mebel.link}}>Прямая ссылка</a></td>
                <td>{{mebel.price}}</td>
                <td>{{mebel.description}}</td>
                <td>
                    <form action="{% url 'update_item' mebel.id %}" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'delete_item' mebel.id %}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая страница</a>
            <a href="?page={{page_obj.previous_page_number}}">Предыдущая страница</a>
        {% endif %}
        Страница {{page_obj.number}} из {{page_obj.paginator.num_pages}}.
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Следующая страница</a>
            <a href="?page={{page_obj.paginator.num_pages}}">Последняя страница</a>
        {% endif %}
        </div>
{% else %}
    <h2>К сожалению мебели нету</h2>
{% endif %}
{% endblock %}